<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <location path="." inheritInChildApplications="false">
  <system.webServer>
   <handlers><add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" /></handlers>
   <aspNetCore processPath="dotnet" arguments=".\HackerNews.Api.dll" stdoutLogEnabled="false" hostingModel="inprocess">
    <environmentVariables>
     <environmentVariable name="HackerNews__BestStoriesUrl" value="https://hacker-news.firebaseio.com/v0/beststories.json" />
     <environmentVariable name="HackerNews__ItemUrlTemplate" value="https://hacker-news.firebaseio.com/v0/item/{id}.json" />
    </environmentVariables>
   </aspNetCore>
  </system.webServer>
 </location>
</configuration>
